.container {
  width: 784.66px;
  height: 427.81;

  margin: 7em auto;

  background: #E7F1EA;
}

#carouselExampleControls {
  margin-left: 18%;
  ;
  margin-top: 10em;
  padding: -20%;
  max-width: 60%;
}

.content {
  padding-top: 100px;
  margin-left: 72%;
  margin-bottom: -4.1%;
  background-color: lightgray;
  width: 50%;
  height: 111%;

}

.carousel-caption {
  height: 100%;
}

.repone {
  width: 190%;
  margin-left: -190%;
  margin-top: 30%;
  height: 30%;
  background-color: black;
  opacity: 0.5;
  padding-right: 10%;
  padding-top: 5%;
}

.items {

  background: black;
}

img {
  height: 400px !important;
  width: 100% !important;


}

.carouselExampleControls {
  width: 4%;
}

.carousel-control-next-icon {
  margin-right: 15%;
}

@media(max-width : 100px) {
  img {
    height: auto !important;
  }
}

.background {
  height: 33em;
  padding-top: 20px;
  background-color: gray;
}
