.footers{
    padding-left: 25em;
    background-color: #88B7C0;
}
.footers a {color:#88B7C0;}

.footers p {color:#696969;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #88B7C0;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }
 .row{
     padding-right: 20em;
 }