.footers {
  background-color: #88B7C0;
}

.footers a {
  color: #88B7C0;
}

.footers p {
  color: #696969;
}

.footers ul {}

#social-fb:hover {
  color: #88B7C0;
  transition: all .001s;
}

#social-tw:hover {
  color: #4099FF;
  transition: all .001s;
}

#social-gp:hover {
  color: #d34836;
  transition: all .001s;
}

#social-em:hover {
  color: #f39c12;
  transition: all .001s;
}

p {
  padding-top: 10px;

}

.footers {
  height: 60px;
}

img {
  margin-top: 5px;
}
@media(max-width : 770px){
  .col-md-10 {
    width: 30%!important
  }
  .col-md-2{width: 70%!important;}
}