<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
  crossorigin="anonymous">
<section class="footers  ">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-10 footers-one">
        
      </div>
      
      <div class="col-xs-2  footers-five">
        <div id="block-menu-menu-global-footer-with-logo" class="cam-column3 cam-footer-navigation" role="navigation" style="height: 221px;">
          <div class="cam-content-container cam-footer-logo">
            <a href="https://www.cam.ac.uk"><img class="cam-scale-with-grid" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/logo.png" width="178" alt="Cambridge University"></a>    <p> © 2019 University of Cambridge</p>
            <ul class="cam-unstyled-list cam-global-footer-links"><li><a href="/university-a-z?ucam-ref=global-footer" title="" class="menu__link">University A-Z</a></li>
                <li><a href="/contact-the-university?ucam-ref=global-footer" title="" class="menu__link">Contact the University</a></li>
                <li><a href="/about-this-site/accessibility?ucam-ref=global-footer" title="" class="menu__link">Accessibility</a></li>
                <li><a href="http://www.information-compliance.admin.cam.ac.uk/foi" title="" class="menu__link">Freedom of information</a></li>
                <li><a href="http://www.registrarysoffice.admin.cam.ac.uk/governance-and-strategy/anti-slavery-and-anti-trafficking" title="Modern Slavery Act Transparency Statement" class="menu__link">Statement on Modern Slavery</a></li>
                <li><a href="/about-this-site/terms-and-conditions?ucam-ref=global-footer" title="" class="menu__link">Terms and conditions</a></li>
             </ul>
          </div>
        </div>
      </div>
      <div id="block-menu-menu-global-footer-study-at-camb" class="cam-column3 cam-footer-navigation" role="navigation" style="height: 221px;">
        <div class="cam-content-container cam-navigation-list">
          <div class="link-list">
            <p><a href="/study-at-cambridge?ucam-ref=global-footer" title="" class="menu__link">Study at Cambridge</a></p>
          <ul class="cam-unstyled-list menu"><li><a href="http://www.study.cam.ac.uk/undergraduate/?ucam-ref=global-footer" title="" class="menu__link">Undergraduate</a></li>
            <li><a href="http://www.graduate.study.cam.ac.uk/?ucam-ref=global-footer" title="" class="menu__link">Graduate</a></li>
            <li><a href="http://www.ice.cam.ac.uk/?ucam-ref=global-footer" title="" class="menu__link">Continuing education</a></li>
            <li><a href="http://www.epe.admin.cam.ac.uk/?ucam-ref=global-footer" title="" class="menu__link">Executive and professional education</a></li>
            <li><a href="http://www.educ.cam.ac.uk/?ucam-ref=global-footer" title="" class="menu__link">Courses in education</a></li>
          </ul>    
         </div>
        </div>
      </div>

      <div id="block-menu-menu-global-footer-about-uni" class="cam-column3 cam-footer-navigation" role="navigation" style="height: 221px;">
        <div class="cam-content-container cam-navigation-list">
          <div class="link-list">
            <p><a href="/about-the-university?ucam-ref=global-footer" title="" class="menu__link">About the University</a></p>
        <ul class="cam-unstyled-list menu"><li><a href="/about-the-university/how-the-university-and-colleges-work?ucam-ref=global-footer" title="" class="menu__link">How the University and Colleges work</a></li>
            <li><a href="/about-the-university/visiting-the-university?ucam-ref=global-footer" title="" class="menu__link">Visiting the University</a></li>
            <li><a href="http://map.cam.ac.uk?ucam-ref=global-footer" title="" class="menu__link">Maps</a></li>
            <li><a href="/news?ucam-ref=global-footer" title="" class="menu__link">News</a></li>
            <li><a href="http://www.jobs.cam.ac.uk" title="" class="menu__link">Jobs</a></li>
            <li><a href="https://www.philanthropy.cam.ac.uk/?ucam-ref=global-footer" title="" class="menu__link">Give to Cambridge</a></li>
            <li><a href="/global-cambridge?ucam-ref=global-footer" title="" class="menu__link">Global Cambridge</a></li>
        </ul>
      </div>   
     </div>
    </div>
    <div id="block-menu-menu-global-footer-research" class="cam-column3 cam-footer-navigation" role="navigation" style="height: 221px;">
      <div class="cam-content-container cam-navigation-list">
        <div class="link-list">
          <p><a href="/research?ucam-ref=global-footer" title="" class="menu__link">Research at Cambridge</a></p>
        <ul class="cam-unstyled-list menu"><li><a href="/research/news?ucam-ref=global-footer" title="" class="menu__link">News</a></li>
          <li><a href="/research/features?ucam-ref=global-footer" title="" class="menu__link">Features</a></li>
          <li><a href="/research/discussion?ucam-ref=global-footer" title="" class="menu__link">Discussion</a></li>
          <li><a href="/research/spotlight-on?ucam-ref=global-footer" title="" class="menu__link">Spotlight on...</a></li>
          <li><a href="/research/research-at-cambridge?ucam-ref=global-footer" title="" class="menu__link">About research at Cambridge</a></li>
       </ul>
      </div>  
    </div>
  </div>
      

    </div>
  </div>
</section>
