.footers {
  background-color: black;
  bottom: -100em;
  position: absolute;
  width: 100%;
  min-height: 350px;
}

.cam-navigation-list {
  padding-top: 16.5%;
}

.footers a {
  color: white;
}

.footers p {
  color: white;
  padding-left: 12.5%;
}



#social-fb:hover {
  color: white;
  transition: all .001s;
}

#social-tw:hover {
  color: #4099FF;
  transition: all .001s;
}

#social-gp:hover {
  color: #d34836;
  transition: all .001s;
}

#social-em:hover {
  color: #f39c12;
  transition: all .001s;
}

p {
  padding-top: 10px;

}

.footers {
  padding-top: 10px
}

img {
  margin-top: 5px;
}

@media(max-width : 770px) {
  .col-md-10 {
    width: 30% !important
  }

  .col-md-2 {
    width: 70% !important;
  }
}
