<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form [formGroup]="loginForm" class="login100-form validate-form">


        <div class="alert alert-danger" *ngIf="dataIsNotValid">
          {{dataIsNotValid}}
        </div>
        <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
          <input formControlName="email" class="input100" type="text" name="email">
          <span class="focus-input100" data-placeholder="email"></span>
        </div>
        <p *ngIf="isFieldValid('email')">
          email is reqierd
        </p>
        <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
          <input formControlName="password" class="input100" type="password" name="pass">
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>
        <p *ngIf="isFieldValid('password')">
          this feild is reqierd
        </p>
        <div class="container-login100-form-btn">
          <button (click)="login()" class="login100-form-btn">
            Login
          </button>
        </div>


      </form>
    </div>
  </div>
</div>