<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
  crossorigin="anonymous">
<carousal></carousal>
<div class="content">

</div>
<div class="row" style="justify-content: center;">
  <div class="col-md-9">
    <div class="row">
      <div [routerLink]="'/posts'" class="col-md-6" *ngFor="let item of posts">
        <div class="border">
          <article class="node-202502 node node-news view-mode-what_is_happening clearfix cam-vertical-teaser cam-teaser">
            <img src="{{item.image}}" alt="">
            <h4>
              {{item.header}}
            </h4>
            <p>
              {{item.content}}
            </p>
          </article><!-- /.node -->
        </div>
      </div>
    </div>
  </div>

</div>


<content></content>
