.content {
  margin: 50px;
}

.border {
  border-width: 1px !important;
  padding: 20px;
  margin: 20px 0;

  img {
    width: 100%;
  }

  h4 {
    font-size: 22px;
    text-transform: capitalize;
    text-align: center;
    margin: 15px 0;


  }

  p {
    text-transform: capitalize;
    text-align: center;
  }
}

.field-item {
  background-color: white;
}
