<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="view overly">
          <div class="sidebar-header">
          <ng-content select=".text"></ng-content>
      </div>
    </div>
     
        <ng-content select=".search"></ng-content>
        <ng-content select=".tab"></ng-content>
      
  </nav>
  

</div>
