.borderr{ 
    p{
        margin: 5%;
        
    }
    h3{
        margin: 1%;
    }
    a{
        margin: .5%;
    }
    margin: 15%;
   
   
    .content{
        border: .5px solid gray;
        height: 20%;
        margin-top: 5%;
        border-radius: 5px;
    }
  
   
}
.right{
    padding-top:5%; 
    padding-left: 70%;
}