<div class="borderr">
  <article class="node-202502 node node-news view-mode-what_is_happening clearfix cam-vertical-teaser cam-teaser">
    
    <h3>
      category name
    </h3>
    <p>
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ratione, ipsam tempore ut sit suscipit alias eos mollitia distinctio totam laborum illo repellendus itaque corporis modi vitae amet cumque assumenda?
    </p>
    <a class="btn btn-primary btn-lg" href="" download>Download Material</a>
  </article><!-- /.node -->
</div>