.dropdown-menu {
    padding: 0px;
    margin-top: 8px;
    margin-left: -65px;
    min-width: 60px !important;
    
  }
  .navbar{
    background-color: #336BDB;
  }

 
  .nav-link:hover  {
    display: block;
    background-color: #ddd;
  }