.container {
  width: 784.66px;
  height: 427.81;

  margin: 5em auto;

  background: #E7F1EA;
}

.items {
  width: 50em;

  background: #E7F1EA;
}

#left,
#right {
  margin: 30px;
}

img {
  height: 450px !important;


}
@media(max-width : 770px){
img {
  height: auto !important;
}
}