.card {
  height: 300px;
  transition: 0.6s all ease-in-out;
  color: #88B7C0 !important;

  i {
    color: #88B7C0 !important;

  }
}
h3{
  margin-top: 25px;

}
.card :hover {
  color: #88B7C0;

  i {
    color: #88B7C0;

  }
}
