<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<carousal></carousal>
<div class="content">

</div>
<div class="row">
    <div class="col">
        <div class="border">
            <article class="node-202502 node node-news view-mode-what_is_happening clearfix cam-vertical-teaser cam-teaser">
              <div class="cam-content-container cam-vertical-teaser-img">
                <span class="cam-topic"><div class="field field-name-field-taxonomy-section field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even">Research</div></div></div></span>
                  <span> <div class="field field-name-field-news-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="/research/news/recalling-happy-memories-during-adolescence-can-reduce-risk-of-depression"><img class="cam-scale-with-grid" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/styles/rectangle-349x183/public/news/research/news/friends-36143111920.jpg?itok=XE_R3ih2" width="349" height="183" alt="" title="Friends at sunrise, Credit: minanfotos"></a></div></div></div> </span>
              </div>
              <div class="cam-content-container cam-vertical-teaser-txt">
                <h3 class="cam-teaser-title"><a href="/research/news/recalling-happy-memories-during-adolescence-can-reduce-risk-of-depression">Recalling happy memories during adolescence can reduce risk of depression</a></h3>
                <div class="field field-name-field-content-summary field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p></p><p>Recalling positive events and experiences can help protect young people&nbsp;against depression in later life, suggests new research published today.</p>
                 <p></p></div></div></div>   
               <a href="/research/news/recalling-happy-memories-during-adolescence-can-reduce-risk-of-depression" class="cam-primary-cta">Read More</a>
              </div>
            </article><!-- /.node -->
          </div>   
    </div>
    <div class="col">
        <div class="border">
            <div class="cam-content-container cam-homepage-teaser cam-alt">
              <article class="node-202532 node node-external-link view-mode-what_is_happening clearfix cam-vertical-teaser cam-teaser">
                <div class="cam-content-container cam-vertical-teaser-img">
                  <span class="cam-topic"><div class="field field-name-field-taxonomy-section field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even">Research</div></div></div></span>
                  <a class="cam-teaser-img-link" href="https://www.cam.ac.uk/24CamThings2018"><div class="field field-name-field-external-url-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><img class="cam-scale-with-grid" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/styles/rectangle-349x183/public/photo-1518155653120-80ad200322ae.jpg?itok=vVuNalr7" width="349" height="183" alt=""></div></div></div></a>      </div>
                <div class="cam-content-container cam-vertical-teaser-txt">
                  <h3 class="cam-teaser-title"><a href="https://www.cam.ac.uk/24CamThings2018">24 things we learned in 2018</a></h3>
                  <div class="field field-name-field-content-summary field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p>Plucky underdogs, sausages in space and the winter that never ended - what Cambridge researchers taught us in 2018. </p></div></div></div><div class="cam-primary-cta"><div class="field field-name-field-external-link-link field-type-link-field field-label-hidden"><div class="field-items"><div class="field-item even"><a href="https://www.cam.ac.uk/24CamThings2018">Read More</a></div></div></div></div>      </div>
              </article><!-- /.node -->
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="border">
            <div class="cam-content-container cam-homepage-teaser">
              <article class="node-202232 node node-news view-mode-what_is_happening clearfix cam-vertical-teaser cam-teaser">
                <div class="cam-content-container cam-vertical-teaser-img">
                  <span class="cam-topic"><div class="field field-name-field-taxonomy-section field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even">Research</div></div></div></span>
                    <span> <div class="field field-name-field-news-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="/research/news/3d-printed-robot-hand-plays-the-piano"><img class="cam-scale-with-grid" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/styles/rectangle-349x183/public/news/research/news/crop_100.jpg?itok=y9fW0h2u" width="349" height="183" alt="" title="Robot hand playing the piano, Credit: Josie Hughes"></a></div></div></div> </span>
                </div>
                <div class="cam-content-container cam-vertical-teaser-txt">
                  <h3 class="cam-teaser-title"><a href="/research/news/3d-printed-robot-hand-plays-the-piano">3D-printed robot hand ‘plays’ the piano</a></h3>
                  <div class="field field-name-field-content-summary field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p></p><p>Scientists have developed a 3D-printed robotic hand which can play simple musical phrases on the piano by just moving its wrist. And while the robot is no virtuoso, it demonstrates just how challenging it is to replicate all the abilities of a human hand, and how much complex movement can still be achieved through design.&nbsp;</p>
        <p></p></div></div></div>          <a href="/research/news/3d-printed-robot-hand-plays-the-piano" class="cam-primary-cta">Read More</a>
                </div>
              </article><!-- /.node -->
            </div>
          </div>
    </div>
    <div class="col">
        <div class="border">
            <div class="cam-content-container cam-homepage-teaser cam-alt">
              <article class="node-202202 node node-news view-mode-what_is_happening clearfix cam-vertical-teaser cam-teaser">
                <div class="cam-content-container cam-vertical-teaser-img">
                  <span class="cam-topic"><div class="field field-name-field-taxonomy-section field-type-taxonomy-term-reference field-label-hidden"><div class="field-items"><div class="field-item even">Research</div></div></div></span>
                    <span> <div class="field field-name-field-news-image field-type-image field-label-hidden"><div class="field-items"><div class="field-item even"><a href="/research/news/removing-sweets-and-crisps-from-supermarket-checkouts-linked-to-dramatic-fall-in-unhealthy-snack"><img class="cam-scale-with-grid" src="https://www.cam.ac.uk/sites/www.cam.ac.uk/files/styles/rectangle-349x183/public/news/research/news/shopping-carts-20778411920.jpg?itok=Jm8SQF2f" width="349" height="183" alt="" title="Shopping carts, Credit: paulbr75 (Pixabay)"></a></div></div></div> </span>
                </div>
                <div class="cam-content-container cam-vertical-teaser-txt">
                  <h3 class="cam-teaser-title"><a href="/research/news/removing-sweets-and-crisps-from-supermarket-checkouts-linked-to-dramatic-fall-in-unhealthy-snack">Removing sweets and crisps from supermarket checkouts linked to dramatic fall in unhealthy snack purchases</a></h3>
                  <div class="field field-name-field-content-summary field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><p></p><p>Policies aimed at removing sweets and crisps from checkouts could lead to a dramatic reduction in the amount of unhealthy food purchased to eat ‘on-the-go’ and a significant reduction in that purchased to take home, suggests new research led by the University of Cambridge.</p>
        <p></p></div></div></div>          <a href="/research/news/removing-sweets-and-crisps-from-supermarket-checkouts-linked-to-dramatic-fall-in-unhealthy-snack" class="cam-primary-cta">Read More</a>
                </div>
              </article><!-- /.node -->
            </div>    
          </div>
    </div>
</div>
  
<content></content>
  
